| $('##{dom_id(@message.user, :message_panel)}').append("#{escape_javascript render(@message)}");
	$("#messaging_panel .messages").animate({ scrollTop: $('#messaging_panel .messages').prop("scrollHeight")}, 1000);
- if @message_viewer == @message.sender
	| $('#message_body').val('');
