- publish_to "/messages/new/#{@message.user_id}" do
	| $('##{dom_id(@message.user, :message_panel)}').append("#{j render(@message)}");
	| $("#messaging_panel .messages").animate({ scrollTop: $('#messaging_panel .messages').prop("scrollHeight")}, 1000);
| $('#message_body').val('');
