p#notice = notice

h1= @project.title

h2 status: #{@project.state}

h3 client: #{link_to_if can?(:show, @project.user), @project.user.name, @project.user}

h3 Deadline: #{@project.deadline}

p= @project.spec

= link_to 'Edit', edit_project_path(@project)
'|
= link_to 'Back', projects_path
