| Dear #{@order.user.first_name}:

	Good news, everyone!

	Your order "#{@order.title}," is complete, and will be shipped to you shortly.

	We will notifiy you when it has shipped.

	Thank you,

	Zertica