| Zertica Staff:

	A new order has been placed by #{@order.user_name} called "#{@order.title}" and is waiting for an estimate.

	Please log in to Zertica Connect and place an estimate for this order

	#{order_url @order}