| Dear #{@order.user.first_name}:

	We have received your payment of #{number_to_currency @order.price} for your order "#{@order.title}," and your order is now in production.

	We will notifiy you when it is complete.

	Thank you,

	Zertica