| $('#active-chats').append("#{j render(@active_chat)}");
| $(document).foundation('section', 'reflow');
| $("##{dom_id(@active_chat)} p.chat-tab").click();
| $("##{dom_id(@active_chat.user, :chat_toggle)}").hide('fast')